node_modules/
.expo/
.vscode/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

ios/
android/

google-api.json

# locks
package-lock.json
yarn.lock
pnpm-lock.yaml

# macOS
.DS_Store